
.game {
    display: grid;
    grid-template-columns: 100px 200px 200px 200px;
}

#money {
    border:1px solid #ffff00;
    grid-row: 1;
    grid-column: 1;
}

#b1 {
    border:1px solid #ff00ff;
    grid-row: 1;
    grid-column: 2;
}

#b2 {
    border:1px solid #ff00ff;
    grid-row: 1;
    grid-column: 3;
}

#b3 {
    border:1px solid #ff00ff;
    grid-row: 1;
    grid-column: 4;
}

#canvas {
    border:1px solid #ff0000;
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 4;
}