.game {
    display: grid;
    grid-template-columns: 200px 200px 200px;
}

#money {
    border:1px solid #ffff00;
    grid-row: 1;
    grid-column: 1;
}

#b1 {
    border:1px solid #ff00ff;
    grid-row: 1;
    grid-column: 2;
}

#b2 {
    border:1px solid #ff00ff;
    grid-row: 1;
    grid-column: 3;
}

#canvas {
    border:1px solid #ff0000;
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 4;
}

.buld {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px;
    grid-template-rows: 50px 50px;
}

#buld1 {
    border:1px solid #00ffff;
    grid-row: 1;
    grid-column: 1;
}

#buld2 {
    border:1px solid #00ffff;
    grid-row: 1;
    grid-column: 2;
}

#buld3 {
    border:1px solid #00ffff;
    grid-row: 1;
    grid-column: 3;
}

#buld4 {
    border:1px solid #00ffff;
    grid-row: 1;
    grid-column: 4;
}

#buld5 {
    border:1px solid #00ffff;
    grid-row: 1;
    grid-column: 5;
}

#buld6 {
    border:1px solid #00ffff;
    grid-row: 1;
    grid-column: 6;
}

#buld7 {
    border:1px solid #00ffff;
    grid-row: 2;
    grid-column: 1;
}

#buld8 {
    border:1px solid #00ffff;
    grid-row: 2;
    grid-column: 2;
}

#buld9 {
    border:1px solid #00ffff;
    grid-row: 2;
    grid-column: 3;
}

#buld10 {
    border:1px solid #00ffff;
    grid-row: 2;
    grid-column: 4;
}

#buld11 {
    border:1px solid #00ffff;
    grid-row: 2;
    grid-column: 5;
}

#buld12 {
    border:1px solid #00ffff;
    grid-row: 2;
    grid-column: 6;
}